#page-map{
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#page-map aside{
    width: 440px;
    background: linear-gradient(329.54deg, #1522d6 0%, #1548d6 100%);
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-map aside h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;
}

#page-map aside p{
    line-height: 28px;
    margin-top: 24px;
}

#page-map aside footer{
   display: flex;
   flex-direction: column;

   line-height: 24px;
}


#page-map aside footer strong{
    font-weight: 800;
 }

 #page-map .leaflet-container{
     z-index: 5;
 }

 #page-map .create-usuario{
     position: absolute;
     right: 40px;
     bottom: 40px;

     z-index: 10;

     width: 64px;
     height: 64px;
     background: #15c3d6;
     border-radius: 28px;

     display: flex;
     justify-content: center;
     align-items: center;

     transition: background-color 0.2s;

 }

 #page-map .out-app{
    position: absolute;
    left: 250px;
    bottom: 80px;

    border: none;

    z-index: 10;

    width: 64px;
    height: 64px;
    background: #15c3d6;
    border-radius: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s;

}

 #page-map .out-app:hover{
    background: #96feff;
 }

 #page-map .create-usuario:hover{
    background: #96feff;
 }

 #page-map .map-popup .leaflet-popup-content-wrapper{
    background: rgba(255,255,255,0.8);
    border-radius: 20px;
    box-shadow: none;
 }

 #page-map .map-popup .leaflet-popup-content{
   color: #0089a5;
   font-size: 20px;
   font-weight: bold;
   margin: 8px 12px;

   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 #page-map .map-popup .leaflet-popup-content a{
     width: 40px;
     height: 40px;
     background: #15c3d6;
     box-shadow: 17.29px, 27.66px  41.49px rgba(23, 142, 166, 0.16);
     border-radius: 12px;

     display: flex;
     justify-content: center;
     align-items: center;
 }

 #page-map .map-popup .leaflet-popup-tip-container{
     display: none;
 }

 #page-map #sidebar {
     position: absolute;
     z-index: 800;
     margin-left: 800px;
     margin-top: 20px;
     height: 50px;
     overflow: hidden;
     float: left;
     width: 350px;
     background: #fff;
 }

 #page-map #sidebar>div {
     position: relative;
     float: left;
     clear: both;
     width: 100%;
     height: 100%;
     border-style: solid;
     border-color: #eee;
     padding: 2px 4px;
     border-radius: 4px 4px 4px 4px;
     border-width: 10px;
 }

 .standard-form .search_form {
     position: relative;
     width: 100%;
     height: 100%;
 }

 .standard-form .search_form input.float[type=submit] {
     float: right;
     width: auto;
     min-width: 0;
     border-radius: 0 2px 2px 0;
 }

 .standard-form .search_form input.float[type=submit]:hover {
     background: #96feff;
 }

 .standard-form input[type="submit"] {
     line-height: normal;
     cursor: pointer;
     border: 0;
     display: inline-block;
     padding-left: 10px;
     padding-right: 10px;
     min-height: 25px;
     min-width: 120px;
     margin: 0 0 10px 0;
     color: white;
     background: #15c3d6;
     text-align: center;
     border-radius: 2px;
 }

 .standard-form .search_form .query_wrapper {
     position: relative;
     overflow: hidden;
     border: transparent;
 }

 .standard-form .search_form input.overflow[type=text] {
     border: none;
     border-right: none;
     border-radius: 5px 0px 0px 5px;
     border-width: 0px;
 }

 .standard-form .search_form input.overflow[type=text]:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
 }

 .standard-form .search_form input[type=text] {
     width: 100%;
     height: 25px;
     transition: 300ms linear;
 }